{% load static %}
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mis Perris</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1,maximum-scale=1,minimum-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/estilo.css" />
     <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/validar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="contenedor">

             <h1><img src="{% static 'image/logo.png' %}" alt="logo-MisPerris"></h1>
                <input type="checkbox" id="menu-bar">
                <label class="icon-menu" for="menu-bar"></label>
                <nav class="menu">
                    <a href="">Inicio</a>
                    <a href="">Quienes Somos</a>
                    <a href="">Servicios</a>
                    <a href="">Contáctanos</a>
                    <a href="/persona/registro/" target="_blank">Registro</a>
                </nav>
        </div>
    </header>
    <main>

        <section id="banner">


            <div id="c-slider">
                <div id="slider">
                    <section class="caja"><img src="{% static 'image/adoptados/Apolo.jpg' %}" alt="">
                            <div class="texto-slider">Maya, hermoso y cariñoso cachorro, ideal para estar con niños.</div>
                        </section>
                        <section class="caja"><img src="{% static 'image/adoptados/Duque.jpg' %}" alt="">
                            <div class="texto-slider">Duque, encantador como el solo.</div>
                        </section>
                        <section class="caja"><img src="{% static 'image/adoptados/Tom.jpg' %}" alt="">
                            <div class="texto-slider">Tom, no hace nada.</div>
                        </section>
                </div>
                <div id="btn-prev">&#60;</div>
                <div id="btn-next">&#62;</div>
            </div>
            <div class="contenedor">
                <p>+ 56 9 98765431</p>
                <p>Rescate y adopción de perros callejeros </p>
                <div class="sociales">
                    <a class="icon-facebook" href="#"></a>
                    <a class="icon-gplus" href="#"></a>
                    <a class="icon-instagram" href="#"></a>
                    <a class="icon-mail-alt" href="#"></a>
                </div>

            </div>
        </section>
        <section id="todo">
            <div class="contenedor">
                    <article id="primera">
                        <h2>RESCATE</h2>
                        <h4>ETAPA UNO</h4>
                        <hr>
                        <p id="p2">Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los
                            preparamos para buscarles un hogar.</p>
                        <img src="{% static 'image/rescate.jpg' %}">
                    </article>
                    <article id="segunda">
                        <img src="{% static 'image/crowfunding.jpg' %}">
                        <h2>CROWDFUNDING</h2>
                        <h4>FINANCIAMIENTO</h4>
                        <hr>
                        <p id="infi">Sigue nuestras redes sociales para informarte acerca de las diversas campañas y
                            actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
                        <button type="button" name="button">CAMPAÑAS</button>
                    </article>
                </div>
        </section>
        <section id="galeria">
            <div class="contenedor">
                 <div class="galeria-pet">
                        <img alt="overlay" src="{% static 'image/Oso_tn.jpg' %}">
                        <div class="overlayinn">Oso, hermoso y cariñoso cachorro, ideal para estar con niños.</div>
                    </div>
                    <div class="galeria-pet">
                        <img src="{% static 'image/Bigotes_tn.jpg' %}" alt="overlay">
                        <div class="overlayinn">Bigotes, hermoso y cariñoso cachorro, ideal para estar con niños.</div>
                    </div>
                    <div class="galeria-pet">
                        <img src="{% static 'image/Chocolate_tn.jpg' %}" alt="overlay">
                        <div class="overlayinn">Chocolate, hermoso y cariñoso cachorro, ideal para estar con niños.</div>
                    </div>
                    <div class="galeria-pet">
                        <img src="{% static 'image/Luna_tn.jpg' %}" alt="overlay">
                        <div class="overlayinn">Luna, hermoso y cariñoso cachorro, ideal para estar con niños.</div>
                    </div>
                    <div class="galeria-pet">
                        <img src="{% static 'image/Maya_tn.jpg' %}" alt="overlay">
                        <div class="overlayinn">Maya, hermoso y cariñoso cachorro, ideal para estar con niños.</div>
                    </div>
                    <div class="galeria-pet">
                        <img src="{% static 'image/Pexel_tn.jpg' %}" alt="overlay">
                        <div class="overlayinn">Pexel, hermoso y cariñoso cachorro, ideal para estar con niños.</div>
                    </div>
                    <div class="galeria-pet">
                        <img src="{% static 'image/Wifi_tn.jpg' %}" alt="overlay">
                        <div class="overlayinn">Wifi, hermoso y cariñoso cachorro, ideal para estar con niños.</div>
                    </div>
                </div>
            </section>
        </main>
        <footer id="creditos">
            <div class="contenedor">
                <p>Desarrollo Web y Mobile</p>
            </div>
        </footer>
        <script src="{% static 'js/slider.js' %}"></script>
</body>

</html>