
<html lang="es">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="{% static 'js/validar.js' %}"></script>
        <title>Mis Perris - Registro de Usuarios</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1,maximum-scale=1,minimum-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontello.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}"/>                     
    </head>
    
    <body>
        <div class="container">
		<div class="form__top">
			<h2>Formulario <span>Registro Usuario</span></h2>
		</div>		
		<form class="form__reg" enctype="multipart/form-data" action="" method="POST" onsubmit="return validar();">
            {% csrf_token %}
			<input class="input" id="nombre" type="text" name="nombre" placeholder="&#128100;  Nombre" required>
            <input class="input" id="rut" type="text" name="rut" placeholder="&#128100; Rut" oninput="checkRut(this)" required>
            <input class="input" id="email" type="email" name="email" placeholder="&#9993;  Email" >
            <input class="input" id="telefono" type="text" name="telefono" placeholder="&#128222;  Telefono" required>
            <input class="input" id="fecha" type="date" name="fecha" placeholder="&#128198;  Ingrese su Fecha de Nacimiento" required>
            <input class="input" id="clave" type="password" name="clave" placeholder="&#128274;  Contraseña" required>
            <input class="input" id="clave2" type="password" name="clave2" placeholder="&#128274;  Confirmar contraseña" required>
                              
            <input class="btn__submit" type="submit" value="Enviar Registro">
            <input class="btn__reset" type="reset" value="LIMPIAR">	            
		</form>
	</div>
    </body>
</html>