@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background: rgb(133, 212, 183);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
      
}
h1 img{
    margin: -15px 0 0 0;
}

/*MENU*/

#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100hv;
    background: rgb(133, 212, 183, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 60px;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu a:hover {
    background: rgba(255, 255, 255, 0.3);
    height: 60px;
}

#menu-bar:checked~.menu {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    /*a partir de ese tamaño hacer eso*/
    .menu {
        position: static;
        width: auto;
        height: 70px;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    .menu a {
        border: none;
    }
    header label {
        display: none;
    }
    .menu a:hover {
    background: rgba(255, 255, 255, 0.3);
    height: 70px;
}
}

@media(min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}

header .contenedor {
    display: table;
}


/*BANNER*/

#c-slider {
    
    margin: auto;
    width: 100%;
    max-width: 750px;
    height: 100%;
    max-height: 500px;
    position: relative;
    overflow: hidden;
    background-color: #6DCCAA;
}

#slider {
    display: flex;
    width: 300%;
    background-color: #6DCCAA;
}

#slider section {
    width: 100%;
    background-color: #6DCCAA;
}

#slider img {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #6DCCAA;
    margin-top: 60px;
}
#caja{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
#slider section .texto-slider{
    
    display: block;
    position: absolute;
    margin: -120px 0 0 10px;;
    z-index: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 15%;    
    padding: 0;
    font-size: 15px;
    color: #fff;
    text-align: left;
}
#btn-prev,
#btn-next {
    width: 40px;
    height: 40px;
    background: rgb(133, 212, 183, 0.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: monospace;
    cursor: pointer;
}

#btn-prev:hover,
#btn-next:hover {
    background: rgba(255, 255, 255, 1);
}

#btn-prev {
    left: 10px;
}

#btn-next {
    right: 10px;
}
#banner {
    width: 100%;
    margin-bottom: -7px;
}

#banner {
    position: relative;
    background-color: #6DCCAA;
}

#banner img {
    background-position: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: #6DCCAA;
}

#banner .contenedor {
    font-weight: 800;
    background-color: #6DCCAA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#banner p {
    color: white;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    color: #6DCCAA;
    border: 0px solid #FFF;
    background-color: #FFF;
    border-radius: 100%;
}

.sociales a:hover {
    background-color: #333;
    border-color: #333;
    color: #FFF;
}

@media (min-width:460px) {
    /*a partir de 460*/
    #banner p {
        display: inline-block;
        margin: auto;
        justify-content: space-around;
    }
    #banner .sociales {
        display: inline-block;
        width: auto;
        height: auto;
    }
}

@media (min-width:768) {
    /*a partir de 480*/
    #banner {
        height: 300px;
        overflow: hidden;
    }
    #banner img {
        height: auto;
        margin-top: -100px;
    }
}

@media (min-width:1024) {
    /*a partir de 480*/
    #banner img {
        margin-top: -200px;
    }
}

#todo .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#todo article {
    margin: 15px;
}

#todo #primera h2 {
    text-align: right;
}

#todo #primera h4 {
    text-align: right;
    margin-bottom: 10px;
}

#todo #primera p {
    margin-top: 5px;
    text-align: right;
}

#todo #primera img {
    width: 70%;
    float: right;
    margin-top: 20px;
}

#todo #segunda img {
    width: 70%;
}

#todo #segunda h2 {
    text-align: left;
}

#todo #segunda h4 {
    text-align: left;
    margin-bottom: 10px;
}

#todo #segunda p {
    margin-top: 20px;
    text-align: left;
}

button {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: inherit;
    background: transparent;
    border: 2px solid #333;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #6DCCAA;
    border-color: #6DCCAA;
    color: #FFF;
}

@media (min-width:480px) {
    #todo .contenedor {
        display: inline-block;
        text-align: center;
        background-position: center;
        margin-bottom: 0px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 50px;
    }
    #todo #primera {
        width: 50%;
        float: left;
        text-align: right;
        padding-right: 20px;
        box-sizing: border-box;
    }
    #todo #segunda {
        text-align: left;
        margin-top: -350px;
        width: 50%;
        float: right;
        padding-left: 20px;
        box-sizing: border-box;
    }
    #todo img {
        width: 70%;
    }
}

@media (min-width:1400px) {
    #todo .contenedor {
        
        margin: 0% 15% 0% 15%;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        width: 70%;
        height: 70%;
        
    }
    #todo #primera {
        width: 50%;
        float: left;
        text-align: right;
        padding-right: 20px;
        box-sizing: border-box;
    }
    #todo #segunda {
        
        display: inline;
        margin-top: -430px;
        text-align: left;
        width: 50%;
        float: right;
        padding-left: 20px;
    }
    #todo img {
        width: 50%;
    }
}


/*
    GALERIA
*/

#galeria {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#galeria .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria-pet {
    margin: 30px;
}

.galeria-pet img {
    width: 180px;
    height: 180px;
    border: 5px solid #FFF;
    background-color: #FFF;
    border-radius: 0%;
}

.galeria-pet img {
    background-color: #6DCCAA;
    border-color: #6DCCAA;
    color: #FFF;
}

.galeria-pet {
    /* Propiedades de imagen */
    margin: 30px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 0px;
    width: 180px;
    /* medida ancho rectangulo */
    height: 180px;
    /* medida alto rectangulo */
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
}

.overlayinn {
    /* Propiedades de la transparencia */
    background-color: rgba(0, 0, 0, 0.6);
    width: 180px;
    /* ancho del contenedor de texto */
    height: 180px;
    /* alto del contenedor de texto */
    top: 0px;
    /*distancia hacia abajo*/
    left: 0px;
    /*distancia hacia la derecha*/
    opacity: 0;
    /* esta condicion mantiene el texto oculto */
    position: absolute;
    padding: 30px;
    /* espacio entre texto y bordes */
    transition: opacity .5s;
    text-align: center;
    text-align-last: center;
    /* texto centrado */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    /* tamaño de letra */
    color: #ffffff;
    /* color de texto */
}

.overlayinn:hover {
    /* Efecto al pasar el mouse */
    opacity: 1;
    transition: opacity .5s;
}

#creditos .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 15px;
    width: 100%;
    height: 10vh;
    background-color: #e6e6e6;
}


  
